         
            <div class="footer">
               <p class="fottext">©Liva Linde 2019 <br>Created by<a class="conactme" href="https://www.linkedin.com/in/evija-banica/" target="blank">Evija Baniča</a></p>
            </div>
          
   </body>
</html>