<!DOCTYPE html>
<html lang="en">
<head>
	<title>Liva Linde </title>
		  <!-- add icon link -->
		  <link rel = "icon" href ="/testIcon.png" type = "image/x-icon" class="icon"> 
	<!-- META TAGS -->
	<meta charset="UTF-8">
	<meta name="description" content="Event photographer and content writer based in Switzerland." />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="-i55qYJ931T-nIZOPVmqjMFwaKcTsBVRDJOOAtEb53Y" />
	
	<!-- Default mode for google search engine, doesnt pick any specific region or language -->
	<link rel="alternate" hreflang="x-default" href="http://www.livalinde.com/" />

	<!-- Bootstrap, CSS files, Semantic icons -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
	<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>

	<!-- CSS STYLING-->	
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/about.css">
	<link rel="stylesheet" href="/portfolio.css">
	<link rel="stylesheet" href="/socialIcons.css">
	<link rel="stylesheet" href="/nav1.css">
	<link rel="stylesheet" href="/contact.css">
	<link rel="stylesheet" href="/blogSection.css">


	<!-- Gooogle Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Simonetta:400,400i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet"> 
	
	

	<!-- Gooogle Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Simonetta:400,400i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet"> 
	
	
   <!-- Global site tag (gtag.js) - Google Analytics
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133237482-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'UA-133237482-1');
		</script>
	  -->

	  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	  




	  <script>
	  /* -------------------------- LigthBox FUNCTION ------------------ */
		 window.addEventListener('load', function(){
			baguetteBox.run(
			   '.brands, .wedding, .events, .sports, .maternity,.hospitality, .blogSection'
			   );
		 });


		 

		 // When the user clicks on the button, scroll to the top of the document
		 function topFunction() {
		 document.body.scrollTop = 0; // For Safari
		 document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
		 } 

		 /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
document.getElementById("myDropdown").classList.toggle("show");
}


// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
if (!event.target.matches('.dropbtn')) {
var dropdowns = document.getElementsByClassName("dropdown-content");
var i;

for (i = 0; i < dropdowns.length; i++) {
		var openDropdown = dropdowns[i];
		if (openDropdown.classList.contains('show')) {
			openDropdown.classList.remove('show');
		}
	}
	}
}
 </script>

			

   
</head>		
	