<!-- Load an icon library for the burger button -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Create a navbar with a logo on the left and menu sections on the right -->
<div class="navbar">
  <a href="#" class="logo">LOGO</a>
  <div class="menu">
    <a href="#">HOME</a>
    <a href="#">BIO</a>
    <!-- Create a dropdown menu for the portfolio section -->
    <div class="dropdown">
      <a href="#" class="dropbtn">PORTFOLIO</a>
      <div class="dropdown-content">
        <a href="#">WEDDING</a>
        <a href="#">HOSPITALITY</a>
        <a href="#">EVENTS</a>
        <a href="#">BRANDS</a>
        <a href="#">SPORTS</a>
      </div>
    </div>
    <a href="#">BLOG</a>
    <a href="#">CONTACT ME</a>
  </div>
  <!-- Add a burger button for the mobile version -->
  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>


