
       <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" style="max-width:110px;" src="/logo.png">
            </a>
    
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <div class="nav navbar-nav navbar-right">
          <li class="nav-links" id="rightmove">
            <a href="/">Home</a>
          </li>
          <li class="nav-links">
            <a href="/biography">Biography</a>
          </li>
            <li class="nav-links dropdown" id="portfolio">
              <a href="/portfolio">Portfolio</a>
              <div class="dropdown-content">
                <a href="/hospitality">Hospitality</a>
                <a href="/wedding">Wedding</a>
                <a href="/maternity">Maternity</a>
                <a href="/sports">Sports</a>
                <a href="/events">Events</a>
                <a href="/brands">Brands</a>
              </div>
          </li>
          <li class="nav-links">
            <a href="/roadjournal">Blog</a>
          </li> 
          <li class="nav-links" class="special"> 
            <a href="/getintouch">Get in touch</a>
          </li>

        </div>
      </div>
    </nav>
         