<% include partials/header %>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" style="max-width:120px;" src="/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="nav navbar-nav navbar-right">
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/biography">BIOGRAPHY</a>
            </div>

            <!-- DROPDOWN MENU PORFOLIO -->

            <button onclick="myFunction()" class="dropbtn" class="active">PORTFOLIO</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/brands">Brands</a>
                <a href="/wedding">Wedding</a>
                <a href="/maternity">Maternity</a>
                <a href="/sports">Sports</a>
                <a href="/events">Events</a>
                <a href="/brands">Brands</a>
            </div>
           <!--ENDS DROPDOWN MENU-->
            <div>
                <a href="/roadjournal">BLOG</a>
            </div> 
            <div class="special"> 
                <a href="/getintouch">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</nav>

<body class="sectionbrands">     
    <div class="container-fluid">

    <section class="brands">
        <main class="mainpanel">
            <div class="headerportfolio"><h1 >BRANDS</h1></div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/001 switzerland brands photographer.jpg">
                <img src="/Brands/001 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/002 switzerland brands photographer.jpg">
                <img src="/Brands/002 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/003 switzerland brands photographer.jpg">
                <img src="/Brands/003 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/004 switzerland brands photographer.jpg">
                <img src="/Brands/004 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/005 switzerland brands photographer.jpg"> 
                 <img src="/Brands/005 switzerland brands photographer.jpg">  
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/006 switzerland brands photographer.jpg">
                <img src="/Brands/006 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/007 switzerland brands photographer.jpg">
                <img src="/Brands/007 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/008 switzerland brands photographer.jpg">
                <img src="/Brands/008 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/009 switzerland brands photographer.jpg">
                <img src="/Brands/009 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/010 switzerland brands photographer.jpg">
                <img src="/Brands/010 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/011 switzerland brands photographer.jpg">
                <img src="/Brands/011 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/012 switzerland brands photographer.jpg">
                <img src="/Brands/012 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/013 switzerland brands photographer.jpg">
                <img src="/Brands/013 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/014 switzerland brands photographer.jpg">
                <img src="/Brands/014 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/015 switzerland brands photographer.jpg">
                <img src="/Brands/015 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/016 switzerland brands photographer.jpg">
                <img src="/Brands/016 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/017 switzerland brands photographer.jpg">
                <img src="/Brands/017 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/018 switzerland brands photographer.jpg">
                <img src="/Brands/018 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/019 switzerland brands photographer.jpg">
                <img src="/Brands/019 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/020 switzerland brands photographer.jpg">
                <img src="/Brands/020 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/021 switzerland brands photographer.jpg">
                <img src="/Brands/021 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/022 switzerland brands photographer.jpg">
                <img src="/Brands/022 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/023 switzerland brands photographer.jpg">
                <img src="/Brands/023 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/024 switzerland brands photographer.jpg">
                <img src="/Brands/024 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/025 switzerland brands photographer.jpg">
                <img src="/Brands/025 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/026 switzerland brands photographer.jpg">
                <img src="/Brands/026 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/027 switzerland brands photographer.jpg">
                <img src="/Brands/027 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/028 switzerland brands photographer.jpg">
                <img src="/Brands/028 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/029 switzerland brands photographer.jpg">
                <img src="/Brands/029 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/030 switzerland brands photographer.jpg">
                <img src="/Brands/030 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/031 switzerland brands photographer.jpg">
                <img src="/Brands/031 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/032 switzerland brands photographer.jpg">
                <img src="/Brands/032 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/033 switzerland brands photographer.jpg">
                <img src="/Brands/033 switzerland brands photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Brands/034 switzerland brands photographer.jpg">
                <img src="/Brands/034 switzerland brands photographer.jpg">
                </a>
            </div>

        </div> <!--CONTAINER FLUID ENDS-->
        <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
    </main>
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
            

            </section>
        </div>
            
        
 
        <!--<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->  

<% include partials/footer %>
