<% include partials/header %>
<% include partials/navbar %>
<body class="sectionevents">
    <div class="container-fluid">

    <section class="events">
        <main class="mainpanel">
            <div class="headerportfolio"><h1 >EVENTS</h1></div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/001 switzerland events photographer.jpg">
                <img src="/Events/001 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/002 switzerland events photographer.jpg">
                <img src="/Events/002 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/003 switzerland events photographer.jpg">
                <img src="/Events/003 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/004 switzerland events photographer.jpg">
                <img src="/Events/004 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/005 switzerland events photographer.jpg"> 
                 <img src="/Events/005 switzerland events photographer.jpg">  
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/006 switzerland events photographer.jpg">
                <img src="/Events/006 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/007 switzerland events photographer.jpg">
                <img src="/Events/007 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/008 switzerland events photographer.jpg">
                <img src="/Events/008 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/009 switzerland events photographer.jpg">
                <img src="/Events/009 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/010 switzerland events photographer.jpg">
                <img src="/Events/010 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/011 switzerland events photographer.jpg">
                <img src="/Events/011 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/012 switzerland events photographer.jpg">
                <img src="/Events/012 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/013 switzerland events photographer.jpg">
                <img src="/Events/013 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/014 switzerland events photographer.jpg">
                <img src="/Events/014 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/015 switzerland events photographer.jpg">
                <img src="/Events/015 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/016 switzerland events photographer.jpg">
                <img src="/Events/016 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/017 switzerland events photographer.jpg">
                <img src="/Events/017 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/018 switzerland events photographer.jpg">
                <img src="/Events/018 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/019 switzerland events photographer.jpg">
                <img src="/Events/019 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/020 switzerland events photographer.jpg">
                <img src="/Events/020 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/021 switzerland events photographer.jpg">
                <img src="/Events/021 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/022 switzerland events photographer.jpg">
                <img src="/Events/022 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/023 switzerland events photographer.jpg">
                <img src="/Events/023 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/024 switzerland events photographer.jpg">
                <img src="/Events/024 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/025 switzerland events photographer.jpg">
                <img src="/Events/025 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/026 switzerland events photographer.jpg">
                <img src="/Events/026 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/027 switzerland events photographer.jpg">
                <img src="/Events/027 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/028 switzerland events photographer.jpg">
                <img src="/Events/028 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/029 switzerland events photographer.jpg">
                <img src="/Events/029 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/030 switzerland events photographer.jpg">
                <img src="/Events/030 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/031 switzerland events photographer.jpg">
                <img src="/Events/031 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/032 switzerland events photographer.jpg">
                <img src="/Events/032 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/033 switzerland events photographer.jpg">
                <img src="/Events/033 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/034 switzerland events photographer.jpg">
                <img src="/Events/034 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/035 switzerland events photographer.jpg">
                <img src="/Events/035 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/036 switzerland events photographer.jpg">
                <img src="/Events/036 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/037 switzerland events photographer.jpg">
                <img src="/Events/037 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/038 switzerland events photographer.jpg">
                <img src="/Events/038 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/039 switzerland events photographer.jpg">
                <img src="/Events/039 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/040 switzerland events photographer.jpg">
                <img src="/Events/040 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/041 switzerland events photographer.jpg">
                <img src="/Events/041 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/042 switzerland events photographer.jpg">
                <img src="/Events/042 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/043 switzerland events photographer.jpg">
                <img src="/Events/043 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/044 switzerland events photographer.jpg">
                <img src="/Events/044 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/045 switzerland events photographer.jpg">
                <img src="/Events/045 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/046 switzerland events photographer.jpg">
                <img src="/Events/046 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/047 switzerland events photographer.jpg">
                <img src="/Events/047 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/048 switzerland events photographer.jpg">
                <img src="/Events/048 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/049 switzerland events photographer.jpg">
                <img src="/Events/049 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/050 switzerland events photographer.jpg">
                <img src="/Events/050 switzerland events photographer.jpg">
                </a>
            </div>
            <div class="imageslayout">
                <a class="lightbox" href="/Events/051 switzerland events photographer.jpg">
                <img src="/Events/051 switzerland events photographer.jpg">
                </a>
            </div>

        </div> <!--CONTAINER FLUID ENDS-->
        <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
    </main>
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
            

            </section>
        </div>
            
        
 
        <!--<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->  

<% include partials/footer %>
