<% include partials/header %>
<% include partials/navbar %>

<body class="sectionfamily">
    <section class="family">
		<div class="headerportfolio"><h1>FAMILY</h1></div>
				<main class="mainpanel">
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/001 switzerland family photographer.jpg">
                        <img src="/Family/001 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/002 switzerland family photographer.jpg">
                        <img src="/Family/002 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/003 switzerland family photographer.jpg">
                        <img src="/Family/003 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/004 switzerland family photographer.jpg">
                        <img src="/Family/004 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/005 switzerland family photographer.jpg">
                        <img src="/Family/005 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/006 switzerland family photographer.jpg">
                        <img src="/Family/006 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/007 switzerland family photographer.jpg">
                        <img src="/Family/007 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/008 switzerland family photographer.jpg">
                        <img src="/Family/008 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/009 switzerland family photographer.jpg">
                        <img src="/Family/009 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/010 switzerland family photographer.jpg">
                        <img src="/Family/010 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/011 switzerland family photographer.jpg">
                        <img src="/Family/011 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/012 switzerland family photographer.jpg">
                        <img src="/Family/012 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/013 switzerland family photographer.jpg">
                        <img src="/Family/013 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/014 switzerland family photographer.jpg">
                        <img src="/Family/014 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/015 switzerland family photographer.jpg">
                        <img src="/Family/015 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/016 switzerland family photographer.jpg">
                        <img src="/Family/016 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/017 switzerland family photographer.jpg">
                        <img src="/Family/017 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/018 switzerland family photographer.jpg">
                        <img src="/Family/018 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/019 switzerland family photographer.jpg">
                        <img src="/Family/019 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/020 switzerland family photographer.jpg">
                        <img src="/Family/020 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/021 switzerland family photographer.jpg">
                        <img src="/Family/021 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/022 switzerland family photographer.jpg">
                        <img src="/Family/022 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/023 switzerland family photographer.jpg">
                        <img src="/Family/023 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/024 switzerland family photographer.jpg">
                        <img src="/Family/024 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/025 switzerland family photographer.jpg">
                        <img src="/Family/025 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/026 switzerland family photographer.jpg">
                        <img src="/Family/026 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/027 switzerland family photographer.jpg">
                        <img src="/Family/027 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/028 switzerland family photographer.jpg">
                        <img src="/Family/028 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/029 switzerland family photographer.jpg">
                        <img src="/Family/029 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/030 switzerland family photographer.jpg">
                        <img src="/Family/030 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/031 switzerland family photographer.jpg">
                        <img src="/Family/031 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/032 switzerland family photographer.jpg">
                        <img src="/Family/032 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/033 switzerland family photographer.jpg">
                        <img src="/Family/033 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/034 switzerland family photographer.jpg">
                        <img src="/Family/034 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/035 switzerland family photographer.jpg">
                        <img src="/Family/035 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/036 switzerland family photographer.jpg">
                        <img src="/Family/036 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/037 switzerland family photographer.jpg">
                        <img src="/Family/037 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/038 switzerland family photographer.jpg">
                        <img src="/Family/038 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/039 switzerland family photographer.jpg">
                        <img src="/Family/039 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/040 switzerland family photographer.jpg">
                        <img src="/Family/040 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/041 switzerland family photographer.jpg">
                        <img src="/Family/041 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/042 switzerland family photographer.jpg">
                        <img src="/Family/042 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/043 switzerland family photographer.jpg">
                        <img src="/Family/043 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/044 switzerland family photographer.jpg">
                        <img src="/Family/044 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/045 switzerland family photographer.jpg">
                        <img src="/Family/045 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/046 switzerland family photographer.jpg">
                        <img src="/Family/046 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/047 switzerland family photographer.jpg">
                        <img src="/Family/047 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/048 switzerland family photographer.jpg">
                        <img src="/Family/048 switzerland family photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Family/049 switzerland family photographer.jpg">
                        <img src="/Family/049 switzerland family photographer.jpg">
                        </a>
                    </div>

               
                </main>
          
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
                

            </section>
        </div>
            
        
 
        <!--<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->  

<% include partials/footer %>

