<% include partials/header %>
<% include partials/navbar %>

<body class="sectionhospitality">
    <div class="container-fluid">
            <div class="headerportfolio"><h1>HOSPITALITY</h1></div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/001 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/001 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/002 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/002 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/003 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/003 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/004 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/004 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/005 switzerland hospitality photographer.jpg"> 
                     <img src="/Hospitality/005 switzerland hospitality photographer.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/006 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/006 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/007 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/007 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/008 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/008 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/009 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/009 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/010 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/010 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/011 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/011 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/012 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/012 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/013 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/013 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/014 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/014 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/015 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/015 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/016 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/016 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/017 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/017 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/018 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/018 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/019 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/019 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/020 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/020 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/021 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/021 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/022 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/022 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/023 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/023 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/024 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/024 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/025 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/025 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/026 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/026 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/027 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/027 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/028 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/028 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/029 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/029 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/030 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/030 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/031 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/031 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/032 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/032 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/033 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/033 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/034 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/034 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/035 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/035 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/036 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/036 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/037 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/037 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/038 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/038 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/039 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/039 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/040 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/040 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/041 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/041 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/042 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/042 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/043 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/043 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/044 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/044 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/045 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/045 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/046 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/046 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/047 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/047 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/048 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/048 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/049 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/049 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/050 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/050 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/051 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/051 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Hospitality/052 switzerland hospitality photographer.jpg">
                    <img src="/Hospitality/052 switzerland hospitality photographer.jpg">
                    </a>
                </div>
                <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button>
            </main>
          
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
                

            </section>
        </div>
            
        
 
        <!--<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->  

<% include partials/footer %>

