<% include partials/header %>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" style="max-width:120px; " src="/logo.png">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-nav-demo">

            <div class="nav navbar-nav navbar-right">
                <div class="active">
                    <a href="/">HOME</a>
                </div>
                <div>
                    <a href="/biography">BIOGRAPHY</a>
                </div>
                <!-- DROPDOWN MENU PORFOLIO -->
                <button onclick="myFunction()" class="dropbtn">PORTFOLIO</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/hospitality">Hospitality</a>
                        <a href="/wedding">Wedding</a>
                        <a href="/maternity">Maternity</a>
                        <a href="/sports">Sports</a>
                        <a href="/events">Events</a>
                        <a href="/brands">Brands</a>

                    </div>
               <!--ENDS DROPDOWN MENU-->
                <div>
                    <a href="/roadjournal">BLOG</a>
                </div> 
                <div class="special"> 
                    <a href="/getintouch">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </nav>

    <body class="home parallax">
        <div class="container-fluid">
            <main>
                <div class="main">
                    <div class="message">
                        <h1>Liva Linde</h1>
                        <h2>Photographer | Content Creator</h2>


                     <div class="social1">
                            <div class="items-social1">
                                <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                               
                                </a>
                            </div>


                        </div> <!--social button ends--> 
                        <!-- <button type="button" class="btn btn-info btn-lg">Services</button> -->

                    </div>


                </div>
        </div><!--main div ends-->
        </main>
        </div>