<% include partials/header %>
<% include partials/navbar %>

    <body class="home parallax">
        <div class="container-fluid">
            <main>
                <div class="main">
                    <div class="message">
                        <h1>Liva Linde</h1>
                        <h2>Photographer | Content Creator</h2>


                     <div class="social1">
                            <div class="items-social1">
                                <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                                    target="_blank"></a>
                            </div>
                            <div class="items-social1">
                                <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                               
                                </a>
                            </div>


                        </div> <!--social button ends--> 
                        <!-- <button type="button" class="btn btn-info btn-lg">Services</button> -->

                    </div>


                </div>
        </div><!--main div ends-->
        </main>
        </div>
        