<% include partials/header %>
<% include partials/navbar %>

<body class="sectionmaternity">
        <div class="headerportfolio"><h1>MATERNITY</h1></div>
            <section class="maternity">
                <main class="mainpanel">
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/001 switzerland maternity photographer.jpg">
                    <img src="/Maternity/001 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/002 switzerland maternity photographer.jpg">
                    <img src="/Maternity/002 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/003 switzerland maternity photographer.jpg">
                    <img src="/Maternity/003 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/004 switzerland maternity photographer.jpg">
                    <img src="/Maternity/004 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/005 switzerland maternity photographer.jpg"> 
                     <img src="/Maternity/005 switzerland maternity photographer.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/006 switzerland maternity photographer.jpg">
                    <img src="/Maternity/006 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/007 switzerland maternity photographer.jpg">
                    <img src="/Maternity/007 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/008 switzerland maternity photographer.jpg">
                    <img src="/Maternity/008 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/009 switzerland maternity photographer.jpg">
                    <img src="/Maternity/009 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/010 switzerland maternity photographer.jpg">
                    <img src="/Maternity/010 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/011 switzerland maternity photographer.jpg">
                    <img src="/Maternity/011 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/012 switzerland maternity photographer.jpg">
                    <img src="/Maternity/012 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/013 switzerland maternity photographer.jpg">
                    <img src="/Maternity/013 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/014 switzerland maternity photographer.jpg">
                    <img src="/Maternity/014 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/015 switzerland maternity photographer.jpg">
                    <img src="/Maternity/015 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/016 switzerland maternity photographer.jpg">
                    <img src="/Maternity/016 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/017 switzerland maternity photographer.jpg">
                    <img src="/Maternity/017 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/018 switzerland maternity photographer.jpg">
                    <img src="/Maternity/018 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/019 switzerland maternity photographer.jpg">
                    <img src="/Maternity/019 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/020 switzerland maternity photographer.jpg">
                    <img src="/Maternity/020 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/021 switzerland maternity photographer.jpg">
                    <img src="/Maternity/021 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/022 switzerland maternity photographer.jpg">
                    <img src="/Maternity/022 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/023 switzerland maternity photographer.jpg">
                    <img src="/Maternity/023 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/024 switzerland maternity photographer.jpg">
                    <img src="/Maternity/024 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/025 switzerland maternity photographer.jpg">
                    <img src="/Maternity/025 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/026 switzerland maternity photographer.jpg">
                    <img src="/Maternity/026 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/027 switzerland maternity photographer.jpg">
                    <img src="/Maternity/027 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/028 switzerland maternity photographer.jpg">
                    <img src="/Maternity/028 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/029 switzerland maternity photographer.jpg">
                    <img src="/Maternity/029 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/028 switzerland maternity photographer.jpg">
                    <img src="/Maternity/028 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/029 switzerland maternity photographer.jpg">
                    <img src="/Maternity/029 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/030 switzerland maternity photographer.jpg">
                    <img src="/Maternity/030 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/031 switzerland maternity photographer.jpg">
                    <img src="/Maternity/031 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/032 switzerland maternity photographer.jpg">
                    <img src="/Maternity/032 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/033 switzerland maternity photographer.jpg">
                    <img src="/Maternity/033 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/034 switzerland maternity photographer.jpg">
                    <img src="/Maternity/034 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/035 switzerland maternity photographer.jpg">
                    <img src="/Maternity/035 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/036 switzerland maternity photographer.jpg">
                    <img src="/Maternity/036 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/037 switzerland maternity photographer.jpg">
                    <img src="/Maternity/037 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/038 switzerland maternity photographer.jpg">
                    <img src="/Maternity/038 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/039 switzerland maternity photographer.jpg">
                    <img src="/Maternity/039 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/040 switzerland maternity photographer.jpg">
                    <img src="/Maternity/040 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/041 switzerland maternity photographer.jpg">
                    <img src="/Maternity/041 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/042 switzerland maternity photographer.jpg">
                    <img src="/Maternity/042 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/043 switzerland maternity photographer.jpg">
                    <img src="/Maternity/043 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/044 switzerland maternity photographer.jpg">
                    <img src="/Maternity/044 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/045 switzerland maternity photographer.jpg">
                    <img src="/Maternity/045 switzerland maternity photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Maternity/046 switzerland maternity photographer.jpg">
                    <img src="/Maternity/046 switzerland maternity photographer.jpg">
                    </a>
                </div>
        
    </div> <!--CONTAINER FLUID ENDS-->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
</main>
        <div class="social2">
            <div class="items-social2">
                <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                    target="_blank"></a>
            </div>
            <div class="items-social2">
                <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                    target="_blank"></a>
            </div>
            <div class="items-social2">
                <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                    target="_blank"></a>
            </div>
            <div class="items-social2">
                <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
               
                </a>
            </div>
            </div>
        

        </section>
    </div>
        


        <!-- END OF THE SECOND LINE-->



<% include partials/footer %>

