	<% include partials/header %>
	<% include partials/navbar %>
	
<body class="sectionhospitality">
	<section class="hospitality">
		<div class="headerportfolio"><h1 class="headerportfolio">PORTFOLIO</h1></div>
		<section class="portfolio">
				<main class="mainpanel">
				<div class="images">
					<a href="hospitality"><img class=" gallery-image" src="/Hospitality/GALVENA bilde.jpg" alt="hospitality">
					<h2 class="shorttext">Hospitality</h2></a>
				</div>
				<div class="images">
					<a href="wedding"><img class="gallery-image" src="/Wedding/Wedding PIRMA bilde.jpg" alt="wedding">
					<h2 class="shorttext">Wedding</h2></a>
				</div>
				<div class="images">
					<a href="maternity"><img class="gallery-image" src="/Maternity/Maternity TITULBILDE.jpg" alt="maternity">
					<h2 class="shorttext">Maternity</h2></a>
				</div>
				<div class="images">
					<a href="sports"><img  class="hover gallery-image" src="/Sports/Sports TITULBILDE.jpg" alt="Sports">
					<h2 class="shorttext">Sports</h2></a>
				</div> 
				<div class="images">
					<a href="events"><img  class="hover gallery-image" src="/Events/Events TITULBILDE.jpg" alt="events">
					<h2 class="shorttext">Events</h2></a>
				</div> 
				<div class="images">
					<a href="brands"><img  class="hover gallery-image" src="Brands/Brands TITULBILDE.jpg" alt="brands">
					<h2 class="shorttext">Brands</h2></a>
				</div> 
				
				<!-- END OF THE FIRST LINE-->				
			</div> <!--CONTAINER FLUID ENDS-->
			<!--button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->
		</main>
		
				<div class="social2">
					<div class="items-social2"><a class="social-media facebook" href="https://www.facebook.com/liva.linde"target="_blank"></a></div>
					<div class="items-social2"><a class="social-media instagram" href="https://www.instagram.com/liva_linde/"target="_blank"></a></div>
					<div class="items-social2"><a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"target="_blank"></a></div>
					<div class="items-social2"><a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i></a></div>

				</div>
			</section>
			</div>
				
	
	
				<!-- END OF THE SECOND LINE-->
		


<% include partials/footer %>
	
