<% include partials/header %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" style="max-width:120px;" src="/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="nav navbar-nav navbar-right">
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/biography">BIOGRAPHY</a>
            </div>

            <!-- DROPDOWN MENU PORFOLIO -->

            <button onclick="myFunction()" class="dropbtn">PORTFOLIO</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/hospitality">Hospitality</a>
                <a href="/wedding">Wedding</a>
                <a href="/maternity">Maternity</a>
                <a href="/sports">Sports</a>
                <a href="/events">Events</a>
                <a href="/brands">Brands</a>

            </div>
           <!--ENDS DROPDOWN MENU-->
            <div class="active">
                <a href="/roadjournal">BLOG</a>
            </div> 
            <div class="special"> 
                <a href="/getintouch">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</nav>
<body class="blog">
	<div class="container">

<!--ARTICLE SECTION CONTAINS h,p,img-->     
        <div class="blogSection"> 

<!-- BLOG HEADING START-->
             <div class="article">
                    <div class="heading">  
                        <h1>Splendor surrounded by silence </h1>
                        <p id="blogdate">Part II</p>
                    </div>
                    
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 001.jpg"><img src="/Qatar_part_II/Foto 001.jpg" alt="Qatar Travel"></a>
                    </div>        
                </div>
 <!-- BLOG HEADING ENDS-->   

 <!-- CONTENT STARTS-->
                <div class="article">
                    <div class="heading">
                        <h2>Early alarm call.</h2>
                    </div>
                    <div class="paragraph">
                        <p>Our plan is morning yoga in the clouds. The elevator takes us to the last floor in one of the skyscrapers, the door opens,
                            the wind hits our faces and there we are, climbing the additional stairs to the helicopter landing area where the yoga mats are 
                            laid out. Do we really have yoga in our mind? Of course the view! Experience! Feeling where you are standing on the ground with your 
                            feet and almost touching the top of skyscrapers with your palms.</p>
                    
                        <p>However I am glad that teacher created an event in a format that it can be a great start for the day for both, 
                           those who came here for an amazing view and those who are more interested about doing yoga itself.</p>
                    </div> 

                    <div class="imageBlog">          
                       <a href="/Qatar_part_II/Foto 002.jpg"><img src="/Qatar_part_II/Foto 002.jpg" alt="Qatar Travel"></a>        
                       <a href="/Qatar_part_II/Foto 003.jpg"><img src="/Qatar_part_II/Foto 003.jpg" alt="Qatar Travel"> </a>     
                       <a href="/Qatar_part_II/Foto 004.jpg"><img src="/Qatar_part_II/Foto 004.jpg" alt="Qatar Travel" ></a>          
                       <a href="/Qatar_part_II/Foto 005.jpg"><img src="/Qatar_part_II/Foto 005.jpg" alt="Qatar Travel"></a>
                    </div>
                </div>
<!-- END OF THE CHAPTER-->
                            
 <!-- CONTENT STARTS-->
                <div class="article">
                    <div class="paragraph">
                        <p>We have prepared our bodies for a slightly longer trip and we are driving several hours to see 
                            "East-West / West-East" sculptures created by Richard Serra. It is a set of four standing steel 
                             plates placed in in the middle of the western Qatari desert. </p>
                    </div>
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 006.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 006.jpg" alt="Qatar Travel" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 007.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 007.jpg" alt="Qatar Travel" alt="Qatar Travel"></a>   
                    </div>
                </div>
<!-- END OF THE CHAPTER-->
               
 <!-- CONTENT STARTS-->
                <div class="article">
                    <div class="paragraph">
                        <p> Since our car is not an off-road vehicle but rather a street sport version it is not “feeling” 
                           delightful about our chosen gravel road. Therefore, from a distance where the sculptures can serve
                           as a landmark we park our car in the middle of nowhere and the rest of the road we walk by feet.
                           Only later I realize that this hiking adventure is getting its special feeling precisely because it was 
                           done by feet - feeling the peace, the quietness and authenticity of desert.
                        </p>
                    </div>
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 008.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 008.jpg" alt="Qatar Travel"></a>      
                    </div>
                                
                    <div class="imageBlog"> 
                        <a href="/Qatar_part_II/Foto 009.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 009.jpg" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 010.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 010.jpg" alt="Qatar Travel"></a>
                    </div>
                </div>
<!-- END OF THE CHAPTER-->
             
 <!-- CONTENT STARTS-->
                <div class="article">
                    <div class="paragraph">
                        <p> We watch how the sky paints with sunset watercolors. First orange, then pink, then a little dark blue 
                            shade until we are surrounded by night and moonlight. The magic of darkness and desert are everywhere and we 
                            start our way back to the car. Time by time I turn on the phone light to see the direction but just as often I turn it off to connect with the night.
                        </p>
                    </div>
                    <div class="imageBlog">              
                        <a href="/Qatar_part_II/Foto 011.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 011.jpg" alt="Qatar Travel"></a>
                    </div>
                </div>
<!-- END OF THE CHAPTER-->


 <!-- CONTENT STARTS-->                          
              <div class="article">
                <div class="heading">  
                    <h2 style="padding-top: 2.5em">Last day in Qatar.</h2>
                </div>

                <div class="paragraph">
                    <p> Our days passed away quickly with a feeling that we would like to stay a bit more. Maybe it is a feeling of return. 
                        To save a time today we are staying in Doha.</p>
                </div>
                <div class="imageBlog">
                    <a href="/Qatar_part_II/Foto 012.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 012.jpg" alt="Qatar Travel"></a>
                </div>

                <div class="imageBlog">
                    <a href="/Qatar_part_II/Foto 013.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 013.jpg" alt="Qatar Travel"></a>
                    <a href="/Qatar_part_II/Foto 014.jpg" alt="Qatar Travel"> <img src="/Qatar_part_II/Foto 014.jpg" alt="Qatar Travel"></a>
                    <a href="/Qatar_part_II/Foto 015.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 015.jpg" alt="Qatar Travel"></a>
                </div>   
              </div>
<!-- END OF THE CHAPTER-->                

 <!-- CONTENT STARTS-->                               
                <div class="article">
                    <div class="paragraph">
                        <p> The Qatar's "Cultural Village" is an area for many creative spaces, galleries, restaurants, cafes, offices and shops but near the coast there is an amphitheater
                            which combines the traditional concept of Greek theater with elements of Islamic architecture. Shadows and lights play games between arches and streets and make us 
                            to wish to see more and more from Doha. </p>
                    </div>
                    
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 016.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 016.jpg" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 017.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 017.jpg" alt="Qatar Travel"></a>
                    </div>

                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 018.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 018.jpg" alt="Qatar Travel"></a>
                    </div>     
                </div>
<!-- END OF THE CHAPTER-->


 <!-- CONTENT STARTS-->                                
                <div class="article">
                    <div class="paragraph">
                        <p> Our next stop is Museum of Islamic Art. The western and northern facade of the building extends into the port but on the other shore there is a horizon line
                            with skyscraper silhouettes. </p>
                    </div>

                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 019.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 019.jpg" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 020.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 020.jpg" alt="Qatar Travel"></a> 
                    </div>

                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 021.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 021.jpg" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 022.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 022.jpg" alt="Qatar Travel"></a>
                    </div>       
                </div>
<!-- END OF THE CHAPTER-->


 <!-- CONTENT STARTS-->                          
                <div class="article">
                    <div class="paragraph">
                        <p> In a few minutes we will be surrounded by the sunset. The museum closes its doors but we are still here watching the evening light.  
                            After a while a late dinner in Qatar's Venice and our journey is over. Standing on the one of the bridges in Venice, I wish to meet this country again 
                            but now it’s time to go the hotel to prepare for an early flight home.</p>
                    </div>
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 023.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 023.jpg" alt="Qatar Travel"></a>
                    </div>           
                </div>
<!-- END OF THE CHAPTER-->

                            
 <!-- CONTENT STARTS-->
                <div class="article">
                    <div class="paragraph">
                        <p> Qatar is not a fast "24 hour destination". Qatar is a seemingly newly built country with a breath of antiquity which is not found in hundreds of years old buildings 
                            but it lives in the land on which this new world is built. It lives in the desert, in solitary landscapes, in the waves that wash the coast, in the wind that plays with 
                            sand clouds. Lie down in the middle of the desert, look to the sky, merge with the sounds of Arabic music and you will feel that behind the shiny shell, in the middle of
                            it, there is the heart of the desert and thousands of years old silence. </p>
                    </div>  
                    <div class="imageBlog">
                        <a href="/Qatar_part_II/Foto 024.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 024.jpg" alt="Qatar Travel"></a>
                        <a href="/Qatar_part_II/Foto 025.jpg" alt="Qatar Travel"><img src="/Qatar_part_II/Foto 025.jpg" alt="Qatar Travel"></a>
                    </div>
                </div>
<!-- END OF THE CHAPTER-->                             

                              
                <div class="nextpage">
                    <h3><a href="roadjournal">Back to Liv: to be</h3></a>
                </div>
         </div>
            
<!--THE END-->

      
    </div>  
<!-- END OF CONTAINER-->
    
<% include partials/footer %>