<% include partials/header %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" style="max-width:120px;" src="/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="nav navbar-nav navbar-right">
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/biography">BIOGRAPHY</a>
            </div>

            <!-- DROPDOWN MENU PORFOLIO -->

            <button onclick="myFunction()" class="dropbtn">PORTFOLIO</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/hospitality">Hospitality</a>
                <a href="/wedding">Wedding</a>
                <a href="/maternity">Maternity</a>
                <a href="/sports">Sports</a>
                <a href="/events">Events</a>
                <a href="/brands">Brands</a>
            </div>
           <!--ENDS DROPDOWN MENU-->
            <div class="active">
                <a href="/roadjournal">BLOG</a>
            </div> 
            <div class="special"> 
                <a href="/getintouch">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</nav>
<body class="blog">
	<div class="container">
        
<!--ARTICLE SECTION CONTAINS h,p,img-->      
        <div class="blogSection">
            <div class="article">
                <div class="heading">
                    <h1>Splendor surrounded by silence.</h1>
                        <p id="blogdate">Qatar, 2020, part I</p>
                </div>
                <div class="imageBlog">
                    <a href="/Qatar_part_I/Picture 001.jpg"><img  src="/Qatar_part_I/Picture 001.jpg" alt="Liva Linde"></a> 
                </div>
            </div>
<!-- CONTENT ENDS-->

<!-- CONTENT STARTS-->
        <div class="article">
            <div class="paragraph">
                <p>A few years ago by crossing Middle East airspace I experienced my most beautiful flight. 
                    I have never liked to fly, I have always tried to fall asleep quickly to wake up at my destination, 
                    but at that time I spent hours looking at the moonlit night. Until a moment I saw countless of bright 
                    flames far, far away but still visible. Like a dozens of bonfires. I realized that they could not be bonfires, 
                    they would not be visible from the plane and they were many. What is it, where, why? What a magical night! </p>

                <p> Only this year, when I arrived in Qatar and saw the flaming oil towers I realized that perhaps these "bonfires" 
                    in my nightly covered world were my first meeting with Qatar. A land that now has a special place in my heart. 
                    I have found you - my flaming desert pearl.</p>
            </div>
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 002.jpg"><img src="/Qatar_part_I/Picture 002.jpg"></a>
                <a href="/Qatar_part_I/Picture 003.jpg"><img src="/Qatar_part_I/Picture 003.jpg"></a>
                <a href="/Qatar_part_I/Picture 004.jpg"><img src="/Qatar_part_I/Picture 004.jpg"></a>
            </div>
        </div>
<!-- CONTENT ENDS-->
    
<!--ARTICLE SECTION CONTAINS h,p,img-->       
        <div class="article">      
            <div class="heading">
                <h2>We arrive in the evening.</h2>
            </div>
            <div class="paragraph">
                <p> The view from the airplane window seems familiar. For us, like millions of other travelers, Hamad International Airport has been a regular transfer point. 
                    Actually this Airport deserves an individual story not just a light touch. Maybe someday I will do it.</p>
            </div>
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 005.jpeg"><img src="/Qatar_part_I/Picture 005.jpeg"></a>
                <a href="/Qatar_part_I/Picture 006.jpg"><img src="/Qatar_part_I/Picture 006.jpg"></a>
                <a href="/Qatar_part_I/Picture 007.jpg"><img src="/Qatar_part_I/Picture 007.jpg"></a>
            </div>
        </div>
<!-- CONTENT ENDS-->

<!--ARTICLE SECTION CONTAINS h,p,img-->  
        <div class="article">
             <div class="paragraph">
                <p> We take an Uber and drive to the hotel.It feels like we are driving through an endless construction site. Here the Country is being built - everywhere, on every street, corner and any place. Already forty 
                    years building it. Much of the desert is now covered by futuristic buildings and hundreds of skyscrapers surrounded by clouds.
                    This small territory (Qatar is only 11,571 km2) has the third largest natural gas reserves in the world, as well as a significant amount of oil. This together with
                    its modest population (2.782 million) has made Qatar the richest country in the world in terms of GDP per capita. Interesting that number of non-citizens exceeds 
                    85%. Upon arrival at hotel the receptionist upgrades our room to a higher class as she is pleasantly surprised that we are not just usual transfer guests but exactly Qatar 
                    is our main destination. We fall asleep watching the newly created Qatar and its splendor. A few decades ago, before the flaming oil owers, there were definitely 
                    some desert travelers sitting around the bonfire.</p>
            </div>
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 008.jpg"><img src="/Qatar_part_I/Picture 008.jpg"></a>
            </div>
        </div>
<!-- CONTENT ENDS-->

<!--ARTICLE SECTION CONTAINS h,p,img-->  
         <div class="article">
            <div class="heading">
                <h2>Good morning Doha!</h2>
            </div>
            <div class="paragraph">
                <p> Daily plan is adventurous off-road car tour in the desert. However, though it is February and the air temperature does not reach 40+ degrees as in summer, even in winter the middle 
                    of the day can be very sultry, so first we go to the National Museum of Qatar.
                    Once arriving there I quickly realized that by giving museum only supporting role in our adventure is a mistake. We need more than an hour just to see the building itself and its surroundings.
                    Inspired by the "dessert rose" - the sand crystal formation found in Qatar, the French architect Jean Nouvel has created an amazing desert flower.</p>
                <p> When we get inside the museum we have just 40 minutes left which would deserve to be at least three times longer duration. Expositions are modern, interactive and very engaging.
                    Unfortunately we have to go.</p>
            </div>   
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 009.jpg"><img src="/Qatar_part_I/Picture 009.jpg"></a>
            </div>
        </div>
<!-- CONTENT ENDS-->

<!--ARTICLE SECTION CONTAINS h,p,img-->  
        <div class="article">
            <div class="paragraph">
                <p> The guide asks if I'm afraid, but I'm not afraid so he tries a bit harder, a bit faster with dunes going higher and maneuvers becoming sharper. My fears seem to please him more than my enjoyment. 
                    After a while he finds a new challenge. After noticing another tourist car he starts to compete. The speed rises up to 140 km/h. Then suddenly our car hits the dune wall and I get my first seconds
                    of fear but the guide no longer notices it. He is fully busy into playing Formula 1 with a colleague in the car next to us. Whether this adventure qualifies within the norms of "it’s safe" 
                    I don't really know, it is up to everyone, him and herself to evaluate and decide.</p>
            </div>
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 012.jpg"><img src="/Qatar_part_I/Picture 012.jpg"></a>
            </div>
          
       
        </div>
<!-- CONTENT ENDS-->
           
<!--ARTICLE SECTION CONTAINS h,p,img-->  
        <div class="article">
            <div class="paragraph">
                <p> At the end of the trip we reach the bay where we can see Saudi Arabia. Qatari citizens are forbidden to go there due to very tense relations. In June 2017 Saudi Arabia, Bahrain, the United Arab Emirates, 
                    Egypt and other Gulf states introduced the Embargo by closing land, sea and air borders. For a while theother shore is just imaginable not reachable.</p>
            </div>
            <div class="imageBlog" id="highertop">
                <a href="/Qatar_part_I/Picture 013.jpg"><img src="/Qatar_part_I/Picture 013.jpg"></a>
            </div>
            <div class="imageBlog">
                <a href="/Qatar_part_I/Picture 014.jpg"><img src="/Qatar_part_I/Picture 014.jpg"></a>
                <a href="/Qatar_part_I/Picture 015.jpg"><img src="/Qatar_part_I/Picture 015.jpg"></a>
            </div>
        </div>
<!-- CONTENT ENDS-->
 
            <div class="nextpage">
                <h3><a href="qatar_part_II">Second Part</h3></a>
            </div>  
<!--BLOG SECTION ENDS-->    
        </div>


    </div><!-- CONTAINER ENDS-->




<% include partials/footer %>