	<% include partials/header %>
	<% include partials/navbar %>
	

<body class="roadjournal">
	<div class="container-fluid">
	<section class="sectionjournal"> <!-- MAIN CONTAINER-->
			<main class="galleries"> <!-- MAIN CONTENT-->
				<div class="images">
					<a href="qatar_part_I"><img class="gallery-imageblog" src="/PART I coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> I <br>19/02/2020</p></p></a>
				</div> 
				
				<div class="images" >
					<a href="qatar_part_II"><img class="gallery-imageblog" src="/PART II coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> II <br>19/02/2020</p></a>
				</div>
			</main>
		</section>	
	</div> <!--CONTAINER FLUID ENDS-->
	<div class="social2">
		<div class="items-social2"><a class="social-media facebook" href="https://www.facebook.com/liva.linde"target="_blank"></a></div>
		<div class="items-social2"><a class="social-media instagram" href="https://www.instagram.com/liva_linde/"target="_blank"></a></div>
		<div class="items-social2"><a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"target="_blank"></a></div>
		<div class="items-social2"><a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i></a></div>

	</div>
</div>

			


	<% include partials/footer %>