	<% include partials/header %>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img alt="Brand" style="max-width:120px;" src="/logo.png">
			</a>
	
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	
		<div class="collapse navbar-collapse" id="bs-nav-demo">

            <div class="nav navbar-nav navbar-right">
                <div>
                    <a href="/">HOME</a>
                </div>
                <div>
                    <a href="/biography">BIOGRAPHY</a>
                </div>

                <!-- DROPDOWN MENU PORFOLIO -->

                <button onclick="myFunction()" class="dropbtn">PORTFOLIO</button>
				<div id="myDropdown" class="dropdown-content">
                    <a href="/hospitality">Hospitality</a>
                    <a href="/wedding">Wedding</a>
                    <a href="/maternity">Maternity</a>
                    <a href="/sports">Sports</a>
                    <a href="/events">Events</a>
                    <a href="/brands">Brands</a>
                </div>v>
               <!--ENDS DROPDOWN MENU-->
                <div class="active">
                    <a href="/roadjournal">BLOG</a>
                </div> 
                <div class="special"> 
                    <a href="/getintouch">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </nav>

<body class="roadjournal">
	<div class="container-fluid">
	<section class="sectionjournal"> <!-- MAIN CONTAINER-->
			<main class="galleries"> <!-- MAIN CONTENT-->

				<div class="images">
					<a href="qatar_part_I"><img class="gallery-imageblog" src="/PART I coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> I <br>19/02/2020</p></p></a>
				</div> 
				
				<div class="images" >
					<a href="qatar_part_II"><img class="gallery-imageblog" src="/PART II coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> II <br>19/02/2020</p></a>
				</div>

			
			</main>

						
		
		</div> <!--CONTAINER FLUID ENDS-->
</section>

			


	<% include partials/footer %>