	<% include partials/header %>
	<% include partials/navbar %>
	

<body class="roadjournal">
	<div class="container-fluid">
	<section class="sectionjournal"> <!-- MAIN CONTAINER-->
			<main class="galleries"> <!-- MAIN CONTENT-->
				<div class="images">
					<a href="qatar_part_I"><img class="gallery-imageblog" src="/PART I coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> I <br>19/02/2020</p></p></a>
				</div> 
				
				<div class="images" >
					<a href="qatar_part_II"><img class="gallery-imageblog" src="/PART II coverphoto.jpg" alt="Qatar Travel"></a>
					<p class="shorttext">Splendor surrounded by silence <br> II <br>19/02/2020</p></a>
				</div>
			</main>
		</section>			
	</div> <!--CONTAINER FLUID ENDS-->


			


	<% include partials/footer %>