<% include partials/header %>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" style="max-width:120px;" src="/logo.png">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="nav navbar-nav navbar-right">
            <div>
                <a href="/">HOME</a>
            </div>
            <div>
                <a href="/biography">BIOGRAPHY</a>
            </div>

            <!-- DROPDOWN MENU PORFOLIO -->

            <button onclick="myFunction()" class="dropbtn" class="active">PORTFOLIO</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/hospitality">Hospitality</a>
                <a href="/wedding">Wedding</a>
                <a href="/maternity">Maternity</a>
                <a href="/sports">Sports</a>
                <a href="/events">Events</a>
                <a href="/brands">Brands</a>
            </div>
           <!--ENDS DROPDOWN MENU-->
            <div>
                <a href="/roadjournal">BLOG</a>
            </div> 
            <div class="special"> 
                <a href="/getintouch">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</nav>

<body class="sectionsports">
    <div class="container-fluid">

        
    <section class="sports">
        <main class="mainpanel">
            <div class="headerportfolio"><h1 >SPORTS</h1></div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/001 switzerland sports photographer.jpg">
                    <img src="/Sports/001 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/002 switzerland sports photographer.jpg">
                    <img src="/Sports/002 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/003 switzerland sports photographer.jpg">
                    <img src="/Sports/003 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/004 switzerland sports photographer.jpg">
                    <img src="/Sports/004 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/005 switzerland sports photographer.jpg"> 
                     <img src="/Sports/005 switzerland sports photographer.jpg">  
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/006 switzerland sports photographer.jpg">
                    <img src="/Sports/006 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/007 switzerland sports photographer.jpg">
                    <img src="/Sports/007 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/008 switzerland sports photographer.jpg">
                    <img src="/Sports/008 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/009 switzerland sports photographer.jpg">
                    <img src="/Sports/009 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/010 switzerland sports photographer.jpg">
                    <img src="/Sports/010 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/011 switzerland sports photographer.jpg">
                    <img src="/Sports/011 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/012 switzerland sports photographer.jpg">
                    <img src="/Sports/012 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/013 switzerland sports photographer.jpg">
                    <img src="/Sports/013 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="iimageslayout">
                    <a class="lightbox" href="/Sports/014 switzerland sports photographer.jpg">
                    <img src="/Sports/014 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/015 switzerland sports photographer.jpg">
                    <img src="/Sports/015 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/016 switzerland sports photographer.jpg">
                    <img src="/Sports/016 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/018 switzerland sports photographer.jpg">
                    <img src="/Sports/018 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/019 switzerland sports photographer.jpg">
                    <img src="/Sports/019 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/020 switzerland sports photographer.jpg">
                    <img src="/Sports/020 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/021 switzerland sports photographer.jpg">
                        <img src="/Sports/021 switzerland sports photographer.jpg">
                    </a>
                </div>
             
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/022 switzerland sports photographer.jpg">
                    <img src="/Sports/022 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/023 switzerland sports photographer.jpg">
                    <img src="/Sports/023 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/024 switzerland sports photographer.jpg">
                    <img src="/Sports/024 switzerland sports photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Sports/025 switzerland sports photographer.jpg">
                    <img src="/Sports/025 switzerland sports photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Sports/026 switzerland sports photographer.jpg">
                    <img src="/Sports/026 switzerland sports photographer.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/Sports/027 switzerland sports photographer.jpg">
                    <img src="/Sports/027 switzerland sports photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayouts">
                    <a class="lightbox" href="/Sports/028 switzerland sports photographer.jpg">
                    <img src="/Sports/028 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/029 switzerland sports photographer.jpg">
                    <img src="/Sports/029 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/030 switzerland sports photographer.jpg">
                    <img src="/Sports/030 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/031 switzerland sports photographer.jpg">
                    <img src="/Sports/031 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/032 switzerland sports photographer.jpg">
                    <img src="/Sports/032 switzerland sports photographer.jpg" >
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/033 switzerland sports photographer.jpg">
                    <img src="/Sports/034 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/035 switzerland sports photographer.jpg">
                    <img src="/Sports/035 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/036 switzerland sports photographer.jpg">
                    <img src="/Sports/036 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/037 switzerland sports photographer.jpg">
                    <img src="/Sports/037 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/038 switzerland sports photographer.jpg">
                    <img src="/Sports/038 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/039 switzerland sports photographer.jpg">
                    <img src="/Sports/039 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/040 switzerland sports photographer.jpg">
                    <img src="/Sports/040 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/041 switzerland sports photographer.jpg">
                    <img src="/Sports/041 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/042 switzerland sports photographer.jpg">
                    <img src="/Sports/042 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/043 switzerland sports photographer.jpg">
                    <img src="/Sports/043 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/044 switzerland sports photographer.jpg">
                    <img src="/Sports/044 switzerland sports photographer.jpg">
                    </a>
                </div>                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/045 switzerland sports photographer.jpg">
                    <img src="/Sports/045 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/046 switzerland sports photographer.jpg">
                    <img src="/Sports/046 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/047 switzerland sports photographer.jpg">
                    <img src="/Sports/047 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/048 switzerland sports photographer.jpg">
                    <img src="/Sports/048 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/049 switzerland sports photographer.jpg">
                    <img src="/Sports/049 switzerland sports photographer.jpg">
                    </a>
                </div>

                <!--- NEW ONES 2020 MAY-->
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/050 switzerland sports photographer.jpg">
                 <img src="/Sports/050 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/052 switzerland sports photographer.jpg">
                    <img src="/Sports/052 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/053 switzerland sports photographer.jpg">
                    <img src="/Sports/053 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/054 switzerland sports photographer.jpg">
                    <img src="/Sports/054 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/055 switzerland sports photographer.jpg">
                    <img src="/Sports/055 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/056 switzerland sports photographer.jpg">
                    <img src="/Sports/056 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/057 switzerland sports photographer.jpg">
                    <img src="/Sports/057 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/058 switzerland sports photographer.jpg">
                    <img src="/Sports/058 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/059 switzerland sports photographer.jpg">
                    <img src="/Sports/059 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/060 switzerland sports photographer.jpg">
                    <img src="/Sports/060 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/061 switzerland sports photographer.jpg">
                    <img src="/Sports/061 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/062 switzerland sports photographer.jpg">
                    <img src="/Sports/062 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/063 switzerland sports photographer.jpg">
                    <img src="/Sports/063 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/064 switzerland sports photographer.jpg">
                    <img src="/Sports/064 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/065 switzerland sports photographer.jpg">
                    <img src="/Sports/065 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/066 switzerland sports photographer.jpg">
                    <img src="/Sports/066 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/067 switzerland sports photographer.jpg">
                    <img src="/Sports/067 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/068 switzerland sports photographer.jpg">
                    <img src="/Sports/068 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/069 switzerland sports photographer.jpg">
                    <img src="/Sports/069 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/070 switzerland sports photographer.jpg">
                    <img src="/Sports/070 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/070 switzerland sports photographer.jpg">
                    <img src="/Sports/070 switzerland sports photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Sports/071 switzerland sports photographer.jpg">
                    <img src="/Sports/071 switzerland sports photographer.jpg">
                    </a>
                </div>
            </main>
	
        </div> <!--CONTAINER FLUID ENDS-->
        <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
    </main>
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
            

            </section>
        </div>
            
        
 
        <!--<button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> -->  

<% include partials/footer %>
