<% include partials/header %>
<% include partials/navbar %>

<body class="sectionwedding">
    <div class="container-fluid">

        
       <section class="wedding">
        <main class="mainpanel">
            <div class="headerportfolio"><h1 >WEDDING</h1></div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/001 switzerland wedding photographer.jpg">
                    <img src="/Wedding/001 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/002 switzerland wedding photographer.jpg">
                    <img src="/Wedding/002 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/003 switzerland wedding photographer.jpg">
                    <img src="/Wedding/003 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/004 switzerland wedding photographer.jpg">
                    <img src="/Wedding/004 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/005 switzerland wedding photographer.jpg">
                    <img src="/Wedding/005 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/006 switzerland wedding photographer.jpg">
                    <img src="/Wedding/006 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/007 switzerland wedding photographer.jpg">
                    <img src="/Wedding/007 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/008 switzerland wedding photographer.jpg">
                    <img src="/Wedding/008 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/009 switzerland wedding photographer.jpg">
                    <img src="/Wedding/009 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/010 switzerland wedding photographer.jpg">
                    <img src="/Wedding/010 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/011 switzerland wedding photographer.jpg">
                    <img src="/Wedding/011 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/012 switzerland wedding photographer.jpg">
                    <img src="/Wedding/012 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/013 switzerland wedding photographer.jpg">
                    <img src="/Wedding/013 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/014 switzerland wedding photographer.jpg">
                    <img src="/Wedding/014 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/015 switzerland wedding photographer.jpg">
                    <img src="/Wedding/015 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/016 switzerland wedding photographer.jpg">
                    <img src="/Wedding/016 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/017 switzerland wedding photographer.jpg">
                    <img src="/Wedding/017 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/018 switzerland wedding photographer.jpg">
                    <img src="/Wedding/018 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/019 switzerland wedding photographer.jpg">
                    <img src="/Wedding/019 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/020 switzerland wedding photographer.jpg">
                    <img src="/Wedding/020 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/021 switzerland wedding photographer.jpg">
                    <img src="/Wedding/021 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/022 switzerland wedding photographer.jpg">
                    <img src="/Wedding/022 switzerland wedding photographer.jpg">
                    </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/023 switzerland wedding photographer.jpg">
                    <img src="/Wedding/023 switzerland wedding photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/024 switzerland wedding photographer.jpg">
                    <img src="/Wedding/024 switzerland wedding photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/025 switzerland wedding photographer.jpg">
                    <img src="/Wedding/025 switzerland wedding photographer.jpg">
                    </a>
                </div>
                 <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/027 switzerland wedding photographer.jpg">
                    <img src="/Wedding/027 switzerland wedding photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/028 switzerland wedding photographer.jpg">
                    <img src="/Wedding/028 switzerland wedding photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/029 switzerland wedding photographer.jpg">
                    <img src="/Wedding/029 switzerland wedding photographer.jpg">
                    </a>
                </div>
                   <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/030 switzerland wedding photographer.jpg">
                    <img src="/Wedding/030 switzerland wedding photographer.jpg">
                    </a>
                </div>
                
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/031 switzerland wedding photographer.jpg">
                    <img src="/Wedding/031 switzerland wedding photographer.jpg">
                    </a>
                </div>
                  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/032 switzerland wedding photographer.jpg">
                    <img src="/Wedding/032 switzerland wedding photographer.jpg">
                    </a>
                </div>  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/033 switzerland wedding photographer.jpg">
                    <img src="/Wedding/033 switzerland wedding photographer.jpg">
                    </a>
                </div>  <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/034 switzerland wedding photographer.jpg">
                    <img src="/Wedding/034 switzerland wedding photographer.jpg">
                    </a>
                </div>  
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/035 switzerland wedding photographer.jpg">
                    <img src="/Wedding/035 switzerland wedding photographer.jpg">
                    </a>
                </div>  
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/036 switzerland wedding photographer.jpg">
                    <img src="/Wedding/036 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/037 switzerland wedding photographer.jpg">
                <img src="/Wedding/037 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/038 switzerland wedding photographer.jpg">
                    <img src="/Wedding/038 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/039 switzerland wedding photographer.jpg">
                <img src="/Wedding/039 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/040 switzerland wedding photographer.jpg">
                    <img src="/Wedding/040 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/041 switzerland wedding photographer.jpg">
                <img src="/Wedding/041 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/042 switzerland wedding photographer.jpg">
                    <img src="/Wedding/042 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/043 switzerland wedding photographer.jpg">
                <img src="/Wedding/043 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/044 switzerland wedding photographer.jpg">
                    <img src="/Wedding/044 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/045 switzerland wedding photographer.jpg">
                <img src="/Wedding/045 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/046 switzerland wedding photographer.jpg">
                    <img src="/Wedding/046 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/047 switzerland wedding photographer.jpg">
                <img src="/Wedding/047 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/048 switzerland wedding photographer.jpg">
                    <img src="/Wedding/048 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/049 switzerland wedding photographer.jpg">
                <img src="/Wedding/049 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/050 switzerland wedding photographer.jpg">
                    <img src="/Wedding/050 switzerland wedding photographer.jpg">
                    </a>
               </div>
               <div class="imageslayout">
                <a class="lightbox" href="/Wedding/051 switzerland wedding photographer.jpg">
                <img src="/Wedding/051 switzerland wedding photographer.jpg">
                </a>
                </div>
                <div class="imageslayout">
                    <a class="lightbox" href="/Wedding/052 switzerland wedding photographer.jpg">
                    <img src="/Wedding/052 switzerland wedding photographer.jpg">
                    </a>
                </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/053 switzerland wedding photographer.jpg">
                        <img src="/Wedding/053 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/054 switzerland wedding photographer.jpg">
                        <img src="/Wedding/054 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/055 switzerland wedding photographer.jpg">
                        <img src="/Wedding/055 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/056 switzerland wedding photographer.jpg">
                        <img src="/Wedding/056 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/057 switzerland wedding photographer.jpg">
                        <img src="/Wedding/057 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/058 switzerland wedding photographer.jpg">
                        <img src="/Wedding/058 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/059 switzerland wedding photographer.jpg">
                        <img src="/Wedding/059 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/060 switzerland wedding photographer.jpg">
                        <img src="/Wedding/060 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/061 switzerland wedding photographer.jpg">
                        <img src="/Wedding/061 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <div class="imageslayout">
                        <a class="lightbox" href="/Wedding/062 switzerland wedding photographer.jpg">
                        <img src="/Wedding/062 switzerland wedding photographer.jpg">
                        </a>
                    </div>
                    <button onclick="topFunction()" id="myBtn" title="Go to top">Up</button> 
        </div> <!--CONTAINER FLUID ENDS-->
       
    </main>
            <div class="social2">
                <div class="items-social2">
                    <a class="social-media facebook" href="https://www.facebook.com/liva.linde"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media instagram" href="https://www.instagram.com/liva_linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media linkedin" href="https://www.linkedin.com/in/liva-linde/"
                        target="_blank"></a>
                </div>
                <div class="items-social2">
                    <a class="social-media " href="https://www.tiktok.com/@liva_linde" target="blank"><i class="fab fa-tiktok"></i>
                   
                    </a>
                </div>
                </div>
                

            </section>
        </div>
            
        
 
       

<% include partials/footer %>
