  /*     =================== Road Journal MAIN ================ */
 .roadjournal{
  height:100&;
 }
 
  .sectionjournal{
  padding-top: 10%;
  margin-left: 200px;
}
    .shorttext { 
      text-align: center;
      color: #000000;
      font-size: 28px;
      padding-top: 20px;
      font-family: 'Simonetta';
    }


       



        
  /*     =================== Road Journal section N1 ================ */
 

             .blogSection{
                display: flex;
                flex-direction: column;
             }
                .article {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                }

                            .heading{
                              align-self: center;
                            }
              
                            .heading h1 {
                              padding-top: 150px;
                              font-family: 'Work Sans', sans-serif;
                              font-size: 38px;
                              text-align: center;
                              color: rgba(0, 0, 0, 0.841);
                              align-self: center;
                            }

                            #blogdate{
                              font-size: 16px;
                              text-align: right;
                            }
                                .heading h2 {
                                  font-family: 'Work Sans', sans-serif;
                                  font-size: 38px;
                                  text-align: center;
                                  margin-top: 60px;
                                  color: #696a6b;
                                }

                                .paragraph {
                                  padding: 5%;
                                  text-align: justify;
                                  width: 800px;
                                  align-self: center;               
                                }
                            
                                .paragraph p {
                                  font-family: 'Work Sans', sans-serif;
                                  font-size: 18px;
                                  line-height: 2em;
                                  letter-spacing: 0.7px;
                                
                                }
                                .imageBlog,#except {
                                  display: flex;
                                  /* background-color: grey; */
                                  flex-wrap: wrap;
                                  justify-content: center;
                                  flex-direction: row;
                                  
                                }
                                    .blogSection div img{ 
                                      align-self: center;
                                      margin: 10px;
                                      height: 400px;
                                      width: auto;
                                      display: block;
                                      padding: 0;
                                      }
                                    #highertop {
                                      margin-top:45px;
                                    }


                                    .nextpage{
                                      font-size: 16px;
                                      text-align: right;
                                      font-family: 'Simonetta';
                                      padding-top: 15px;
                                    }


/* ------------------- MOBILE VERSION --------------- */

   @media screen and (min-width: 250px) and (max-width: 1250px) {
              
                   .blogsection{
                      flex-direction:row;
                    }
              
                      .blogSection {
                        display: flex;
                        width: auto;
                      }
                        .blogSection h1{
                          align-self: center;
                          font-size: 26px;
                        }
          
                        .blogSection h2 {
                          padding-top: 10px;
                          font-size: 22px;
                        }
                      .paragraph {
                        padding: 1,5%;
                        width: auto;
                      }
                      
                       .paragraph p{
                         padding: 1px;
                         line-height: 2em;
                         font-size: 16px;
                         /* margin:1em; */
                         letter-spacing: 0.4px;
                       } 

                      .blogSection div img{ 
                        padding-top: 5%;
                        margin: 2px;
                        height:auto;
                        width: 260px;
                      }

                      
                      .nextpage h3{   
                        font-size: 18px;
                       }



          .sectionjournal{
            padding-top: 100px;
            margin-left: 35px;
           }

                          .shorttext { 
                            text-align: center;
                            color: #000000;
                            font-size: 20px;
                            padding-top: 20px;
                            font-family: 'Simonetta';
                          }
       }