.navbar-brand {
 padding-top: 25px;
}
/*navigation bar*/
.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 30px;
}
.navbar{
    overflow: hidden;
    background:rgba(5, 5, 5, 0.692);
    padding-right: 15px;
    border: none;
    border-radius: 0;
    text-align: center;
  }

        .nav a {
          align-self: center;
          color: rgba(247, 240, 240, 0.815);
          font-size: 20px;
          padding: 20px;
          text-align: center;
          font-family: 'Work Sans', sans-serif;
       }

        .nav.active {
          background: rgba(247, 247, 247, 0.726);
        }


        .nav div a:focus{
          background-color: rgba(217, 165, 32, 0.2);
          text-decoration:none;
          border-radius: 2px;
        }

        nav, .message, .social, .dropdown{
          animation: 0.8s fadein 0.5s forwards;
          opacity: 0;
        }


/* The container <div> - needed to position the dropdown content */


/* Dropdown Button */
.dropbtn {
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(243, 214, 140, 0.904);
  color: rgba(12, 12, 12, 0.841);
      
  
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background:rgba(122, 120, 120, 0.918);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.726);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content  a {
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-decoration: none;
  display: block;          
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;

}
.dropdown-content a:hover {
  background-color: rgba(244, 234, 209, 0.904);
  text-decoration:none;
  color: rgb(47, 46, 46);
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

@media screen and (min-width: 250px) and (max-width: 1250px){
  
  .navbar-brand {
    padding-top: 2px;
   }
  .nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
/* makind background width wider */
.navbar{
  padding: 20px 15px 20px 15px;
}
.nav.navbar-nav div,.dropbtn {
  padding: 20px;
}
.nav.navbar-nav div a {
  color: rgba(247, 240, 240, 0.815);
  font-size: 18px;

}
} 